<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Unitool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to Unitool! You can convert different units and many more!</h1>
    <p>Just choose link you are interested in and let's calculate!</p>
    <ul>
        <li><a th:href="@{/randomGenerator}">Random number generator</a></li>
        <li><a th:href="@{/temperatureConverter}">Temperature converter</a></li>
        <li><a th:href="@{/currencyConverter}">Currency converter</a></li>
    </ul>
</body>
</html>